<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class = "container text-center">
    <h1>Information of the developer</h1>

    <p>This website is created by me i.e. Shreedhar Dahal and ZappyCode.com helped me a lot during this project.</p>

        <strong><a href="{% url 'home' %}" class="btn btn-warning">Return Home</a></strong>
</div>